<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html ng-app="admin" ng-controller="schoolCtrl">

<head>
  <title>Pooled Admin Panel Category Flat Bootstrap Responsive Web Template | Tabels :: w3layouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
  <!-- Custom CSS -->
  <link href="css/style.css" rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="css/morris.css" type="text/css" />
  <!-- Graph CSS -->
  <link href="css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" type="text/css" href="css/table-style.css" />
  <link rel="stylesheet" type="text/css" href="css/basictable.css" />
  <!-- jQuery -->
  <!-- //tables -->
  <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!-- lined-icons -->
  <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
  <!-- //lined-icons -->
</head>

<body>
  <div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
      <div class="mother-grid-inner">
        <!--header start here-->
        <div class="header-main">
          <div class="logo-w3-agile">
            <h1><a href="index.html">Apni Kitaab</a></h1>
          </div>
          <div class="w3layouts-left">

            <!--search-box-->
            <div class="w3-search-box">
              <form action="#" method="post">
                <input type="text" placeholder="Search..." required="">
                <input type="submit" value="">
              </form>
            </div>
            <!--//end-search-box-->
          </div>

        </div>
        <div class="profile_details w3l">
          <ul>
            <li class="dropdown profile_details_drop">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="profile_img">
                  <span class="prfil-img"><img src="images/in4.jpg" alt=""> </span>
                  <div class="user-name">
                    <p>Malorum</p>
                    <span>Administrator</span>
                  </div>
                  <i class="fa fa-angle-down"></i>
                  <i class="fa fa-angle-up"></i>
                  <div class="clearfix"></div>
                </div>
              </a>
              <ul class="dropdown-menu drp-mnu">
                <li> <a href="#"><i class="fa fa-cog"></i>Change Password</a> </li>
                <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="clearfix"> </div>
      </div>
      <!--heder end here-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a><i class="fa fa-angle-right"></i>School</li>
      </ol>
      <div class="agile-grids">
        <!-- tables -->
        <div class="agile-tables">
          <center>
            <h1><button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSchoolModal">Add School</button></h1>
          </center>
          <div class="w3l-table-info">
            <h2>Schools</h2>
            <table id="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>City</th>
                  <th>Contact</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <!--...................-->
                <tr ng-repeat="data in schoolsData">
                  <td>{{data.school_name}}</td>
                  <td>{{data.school_city}}</td>
                  <td>{{data.school_poc}}</td>
                  <td>
                    <spna class="btn  fa fa-eye">
                      </span>
                  </td>
                  <td>
                    <spna class="btn  fa fa-edit">
                      </span>
                  </td>
                  <td>
                    <spna class="btn  fa fa-exclamation-circle">
                      </span>
                  </td>
                </tr>
                <!--..............................
                -->
                <!--<tr>
                  <td>St. Francis</td>
                  <td>Delhi</td>
                  <td>9898765645</td>
                  <td>
                    <spna class="btn  fa fa-eye">
                      </span>
                  </td>
                  <td>
                    <spna class="btn  fa fa-edit">
                      </span>
                  </td>
                  <td>
                    <spna class="btn  fa fa-exclamation-circle">
                      </span>
                  </td>
                </tr>-->
              </tbody>
            </table>
          </div>
        </div>
        <!-- //tables -->
      </div>
      <!-- script-for sticky-nav -->
      <!-- /script-for sticky-nav -->
      <!--copy rights start here-->
      <div class="copyrights">
        <p>© 2016 Pooled . All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
      </div>
      <!--COPY rights end here-->
    </div>
  </div>
  <!--//content-inner-->
  <!--/sidebar-menu-->
  <div class="sidebar-menu">
    <header class="logo1">
      <a href="#" class="sidebar-icon">Admin Panel</a>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
      <ul id="menu">
        <li><a href="index.html"><i class="fa fa-tachometer"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>
        <li id="menu-academico"><a href="inbox.html"><i class="fa fa-envelope nav_icon"></i><span>School</span><div class="clearfix"></div></a></li>
        <li><a href="gallery.html"><i class="fa fa-picture-o" aria-hidden="true"></i><span>Books</span><div class="clearfix"></div></a></li>
        <li id="menu-academico"><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Orders</span><div class="clearfix"></div></a></li>
      </ul>
    </div>
  </div>

  <div class="clearfix"></div>
  </div>
  <!-- /Bootstrap Core JavaScript -->
  <!-- Modal -->
  <div id="addSchoolModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <!-- modal header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add School</h4>
        </div>
        <!-- End of Modal header -->
        <!-- Modal body -->
        <div class="modal-body">
          <!-- Input Form -->
          <form class="form" ng-submit="addSchool()">
            <div class="form-group">
              <input type="text" class="form-control sm" id="exampleInputName2" placeholder="School Name" ng-model="name" required>
            </div>
            <div class="form-group">
              <div><select name="selector1" id="selector1" class="form-control1" placeholder="City" ng-model="city" required>
      										<option>Delhi</option>
      										<option>Agra</option>
      										<option>Mathura</option>
      										<option>Faridabad</option>
                          <option>Noida</option>
      										<option>Gurgaon</option>
      									</select>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control sm" id="exampleInputName2" placeholder="Email/Mobile" ng-model="contact1" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email/Mobile" ng-model="contact2">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email/Mobile" ng-model="contact3">
            </div>
            <!-- end of input form -->
        </div>
        <!-- end of modal body -->
        <!-- modal footer -->
        <div class="modal-footer">
          <input type="submit" class="btn btn-success" />
        </div>
        </form>
        <!-- end of modal footer -->
      </div>

    </div>
  </div>
  <!-- end of modal -->
  <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  </script>
  <!-- //jQuery -->
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <!--Angular JS Files-->
  <script type="text/javascript" src="angular/angular.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script type="text/javascript" src="angular/school.js"></script>
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" /> -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js" ></script>-->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script> -->
  <!-- <script src="https://code.angularjs.org/1.2.0/angular-animate.min.js" ></script> -->
  <!-- //jQuery -->
  <!-- tables -->

  <script type="text/javascript" src="js/jquery.basictable.min.js"></script>
  <!--js -->
  <script src="js/jquery.nicescroll.js"></script>
  <script src="js/scripts.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      var navoffeset = $(".header-main").offset().top;
      $(window).scroll(function () {
        var scrollpos = $(window).scrollTop();
        if (scrollpos >= navoffeset) {
          $(".header-main").addClass("fixed");
        } else {
          $(".header-main").removeClass("fixed");
        }
      });

      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
  </script>
  <script>
    var toggle = true;

    $(".sidebar-icon").click(function () {
      if (toggle) {
        $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
        $("#menu span").css({ "position": "absolute" });
      }
      else {
        $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
        setTimeout(function () {
          $("#menu span").css({ "position": "relative" });
        }, 400);
      }

      toggle = !toggle;
    });
  </script>
  <!-- Bootstrap Core JavaScript -->
</body>

</html>