<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>List Of Books</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Books</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">


            <!-- *** LEFT COLUMN ***
			_________________________________________________________ -->

            <div class="col-sm-3">

                <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->

                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Class</h3>
                        <!--<a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>-->
                    </div>

                    <div class="panel-body">

                        <form ng-submit="applyFilter()">
                            <div class="form-group">
                                <div class="checkbox" ng-repeat="data  in classFilterData">
                                    <label>
                                    <input type="checkbox" ng-model="filter.school[data.class_id]" /> {{data.class_name}}<br>
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-default btn-sm btn-template-main" value ="Apply">
                        </form>
                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Schools</h3>
                        <!--<a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>-->
                    </div>

                    <!--school filter start-->
                    <div class="panel-body">
                        <form ng-submit="applyFilter()">
                            <div class="form-group">
                                <div class="checkbox" ng-repeat="data in schoolFilterData">
                                    <label>
                                        <input type="checkbox" ng-model="filter.school[data.school_id]" >{{data.school_name}}
                                    </label>
                                </div>
                                </div>
                            <input type="submit" class="btn btn-default btn-sm btn-template-main" value ="Apply">
                        </form>
                    </div>
                    <!--school filter end-->


                </div>

                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">Type</h3>
                        <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                    </div>

                    <div class="panel-body">

                        <form ng-submit="applyFilter()">
                            <div class="form-group">
                                <div class="checkbox" ng-repeat="data in bookTypeFilterData">
                                    <label>
                                        <input type="checkbox" ng-model="filter.bookType[data.bt_id]">{{data.bt_name}}
                                    </label>
                                </div>
                                </div>
                            <input type="submit" class="btn btn-default btn-sm btn-template-main" value ="Apply">
                        </form>
                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Author</h3>
                        <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                                <input type="checkbox">RS Agrawal (10)
                                            </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                                <input type="checkbox">RD Sharma (12)
                                            </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                                <input type="checkbox">S chand (15)
                                            </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                                <input type="checkbox">Prateek Singh (14)
                                            </label>
                                </div>
                            </div>

                            <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>

                        </form>

                    </div>
                </div>



            </div>
            <!-- /.col-md-3 -->

            <!-- *** LEFT COLUMN END *** -->

            <!-- *** RIGHT COLUMN ***
			_________________________________________________________ -->

            <div class="col-sm-9">

                <p class="text-muted lead">Here are the list of books .Now you can buy a single book. Click on the book to view or add to cart to check
                    out.
                </p>
                <div class="row portfolio">
                    <div class="col-sm-6 col-md-3" ng-repeat="book in booksData">
                        <div class="box-image">
                            <div class="image">
                                <img src="img/product1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="name">
                                <h3><a href="portfolio-detail.html">{{book.book_name}}</a></h3>
                            </div>
                            <div class="text">
                                <p class="hidden-sm hidden-lg hidden-md">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                <p class="buttons">
                                    <a href="/meri-kitab/website/#!/viewBook" class="btn btn-template-transparent-primary">View</a><br><br>
                                    <a href="#" class="btn btn-template-transparent-primary">Add to Cart</a>
                                </p>
                            </div>
                            <h3>{{book.book_name}}</h3>
                            Class : {{book.book_class}} <br> By : {{book.book_author}}
                        </div>
                        <!-- /.box-image -->

                    </div>

                </div>
                <!-- /.products -->

                <div class="pages">
                    <p class="loadMore">
                        <button ng-show="loadCount>2" class="btn btn-template-main" ng-click="listPrevBook(loadCount-2)" style="float:left"><i class="fa fa-chevron-left"></i> Previous</button>
                    </p>
                    <p class="loadMore">
                        <button ng-show="loadCount<booksCount" class="btn btn-template-main" ng-click="listNextBook(loadCount)" style="float:right"><i class="fa fa-chevron-right"></i> Next</button>
                    </p>
                </div>


            </div>
            <!-- /.col-md-9 -->

            <!-- *** RIGHT COLUMN END *** -->

        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->