        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>New account / Sign in</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>New account / Sign in</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <h2 class="text-uppercase">New account</h2>

                            <p class="lead">Not our registered customer yet?</p>
                          
                            <hr>

                            <form ng-submit="signup()">
                                <div class="form-group">
                                    <label for="name-login">Name</label>
                                    <input type="text" class="form-control" id="name-login" ng-model="customer.customer_name">
                                </div>
                                <div class="form-group">
                                    <label for="email-login">Email</label>
                                    <input type="text" class="form-control" id="email-login" ng-model="customer.customer_email">
                                </div>
                                <div class="form-group">
                                    <label for="email-login">Mobile</label>
                                    <input type="text" class="form-control" id="email-login" ng-model="customer.customer_mobile">
                                </div>
                                <div class="form-group">
                                    <label for="password-login">Password</label>
                                    <input type="password" class="form-control" id="password-login" ng-model="customer.customer_password">
                                </div>
                                <div class="form-group">
                                    <label for="password-login">Confirm Password</label>
                                    <input type="password" class="form-control" id="password-login" ng-model="customer.customer_confirm_password">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> Register</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box">
                            <h2 class="text-uppercase">Login</h2>

                            <p class="lead">Already our customer?</p>
                          
                            <hr>

                            <form ng-submit="login()">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" ng-model="customer.customer_email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" ng-model="customer.customer_password">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


      
