<section>
    <!-- *** HOMEPAGE CAROUSEL ***
 _________________________________________________________ -->
    <br>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="img/main-slider1.jpg" alt="Los Angeles" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Meri Kitab</h3>
                        <p>Education is the most powerful weapon which you can use to change the world.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="img/main-slider2.jpg" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Meri Kitab</h3>
                        <p>A person who won't read has no advantage over one who can't read.</p>
                    </div>
                </div>

                <div class="item">
                    <img src="img/main-slider3.jpg" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Meri Kitab</h3>
                        <p style="color:black;">Education is not preparation for life; education is life itself.</p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- *** HOMEPAGE CAROUSEL END *** -->
</section>

<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Meri Kitaab Special</h2>
            </div>

            <p class="lead">Here are some books on discount we recommend you to buy!!!
                <span class="accent">Hurry Offer available for limited time!</span>
            </p>

            <!-- *** BLOG HOMEPAGE ***
_________________________________________________________ -->

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image">
                                <img src="img/main_page1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="">Fashion now</a></h4>
                            <p class="author-category">By <a href="#">John Snow</a> in <a href="">Webdesign</a>
                            </p>
                            <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl
                                Moved life us beast good yielding. Have bring.</p>
                            <p class="read-more"><a href="" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->

                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image">
                                <img src="img/main_page2.png" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="">Fashion now</a></h4>
                            <p class="author-category">By <a href="#">John Snow</a> in <a href="">Webdesign</a>
                            </p>
                            <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl
                                Moved life us beast good yielding. Have bring.</p>
                            <p class="read-more"><a href="" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->

                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image">
                                <img src="img/main_page3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="">What to do</a></h4>
                            <p class="author-category">By <a href="#">John Snow</a> in <a href="">Webdesign</a>
                            </p>
                            <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl
                                Moved life us beast good yielding. Have bring.</p>
                            <p class="read-more"><a href="" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->

                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        <div class="top">
                            <div class="image">
                                <img src="img/main_page4.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="bg"></div>
                            <div class="text">
                                <p class="buttons">
                                    <a href="" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <h4><a href="">5 ways to look awesome</a></h4>
                            <p class="author-category">By <a href="#">John Snow</a> in <a href="">Webdesign</a>
                            </p>
                            <p class="intro">Am terminated it excellence invitation projection as. She graceful shy believed distance use
                                nay. Lively is people.</p>
                            <p class="read-more"><a href="" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->

                </div>

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>

    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->

<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Our Vision</h2>
                </div>

                <p class="lead">We have worked with many clients and we always want to deliver our best. Meri Kitab is a place where you
                    can get your school text book by just few clicks at you home.We want to lead india in Education system
                    and make books available to every student in our future
                    <palns class=""></palns>
                </p>


                <!-- *** TESTIMONIALS CAROUSEL ***
 _________________________________________________________ -->

                <ul class="owl-carousel testimonials same-height-row">
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>You can't just ask customers what they want and then try to give that to them. By the time
                                    you get it built, they'll want something new. </p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <img class="" alt="" src="img/person-1.jpg">
                                    <h5>Shiv Kumar Sharma</h5>
                                    <p>CEO & Founder</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>You cant write your destiny, but you can write Codes. So do it !</p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <img class="" alt="" src="img/person-2.jpg">
                                    <h5>Prateek Singh</h5>
                                    <p>CTO & Co-founder</p>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <!-- /.owl-carousel -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>

        </div>
    </div>
</section>
<!-- /.bar -->



<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="fa fa-file-code-o"></i>
                </div>
                <h3 class="text-uppercase">Do you want to Explore more?</h3>
                <p class="lead">We have so much for you to explores all kinds of books. You can shop by school or shop by Book</p>
                <p class="text-center">
                    <a href="http://www.fb.com/merikitab.in" class="btn btn-template-transparent-black btn-lg">Check out our fb page</a>
                </p>
            </div>

        </div>
    </div>
</section>


<div class="col-md-12 ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Our Publishers & Clinets</h3>
        </div>
        <div class="panel-body">
            <div id="myCarousel2" class="carousel slide">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c1.jpg" alt="">
                                    <!--<h5>John doe</h5>
                                    <p>CEO</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c2.jpg" alt="">
                                    <!--<h5>Milan kumar panigrahi</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c3.jpg" alt="">
                                    <!--<h5>Satyaban Rath</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c4.jfif" alt="">
                                    <!--<h5>Pragyan Patra</h5>
                                    <p>Manager</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c5.png" alt="">
                                    <!--<h5>Barsa amirta Guru</h5>
                                    <p>Web Designer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c6.jfif" alt="">
                                    <!--<h5>Nisitha Mohanty</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c7.png" alt="">
                                    <!--<h5>Gyana Ranjan Patra</h5>
                                    <p>Project lead</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c8.jfif" alt="">
                                    <!--<h5>Lipsa Patra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c9.png" alt="">
                                    <!--<h5>Divya Ramachandra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c10.jfif" alt="">
                                    <!--<h5>Neha padhee</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c11.jfif" alt="">
                                    <!--<h5>abc</h5>
                                    <p>Sales manager</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c12.jfif" alt="">
                                    <!--<h5>xyz</h5>
                                    <p>HR manager</p>-->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c13.jfif" alt="">
                                    <!--<h5>Gyana Ranjan Patra</h5>
                                    <p>Project lead</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c14.jfif" alt="">
                                    <!--<h5>Lipsa Patra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c15.jfif" alt="">
                                    <!--<h5>Divya Ramachandra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c16.jfif" alt="">
                                    <!--<h5>Neha padhee</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c17.jfif" alt="">
                                    <!--<h5>abc</h5>
                                    <p>Sales manager</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c18.jfif" alt="">
                                    <!--<h5>xyz</h5>
                                    <p>HR manager</p>-->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c19.jfif" alt="">
                                    <!--<h5>Gyana Ranjan Patra</h5>
                                    <p>Project lead</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c20.png" alt="">
                                    <!--<h5>Lipsa Patra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c21.jfif" alt="">
                                    <!--<h5>Divya Ramachandra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c22.jfif" alt="">
                                    <!--<h5>Neha padhee</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c23.jfif" alt="">
                                    <!--<h5>abc</h5>
                                    <p>Sales manager</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c24.jfif" alt="">
                                    <!--<h5>xyz</h5>
                                    <p>HR manager</p>-->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c25.jfif" alt="">
                                    <!--<h5>Gyana Ranjan Patra</h5>
                                    <p>Project lead</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c26.png" alt="">
                                    <!--<h5>Lipsa Patra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c27.png" alt="">
                                    <!--<h5>Divya Ramachandra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c28.png" alt="">
                                    <!--<h5>Neha padhee</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c29.png" alt="">
                                    <!--<h5>abc</h5>
                                    <p>Sales manager</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c30.png" alt="">
                                    <!--<h5>xyz</h5>
                                    <p>HR manager</p>-->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c31.png" alt="">
                                    <!--<h5>Gyana Ranjan Patra</h5>
                                    <p>Project lead</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c32.png" alt="">
                                    <!--<h5>Lipsa Patra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c33.gif" alt="">
                                    <!--<h5>Divya Ramachandra</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c34.png" alt="">
                                    <!--<h5>Neha padhee</h5>
                                    <p>Software Developer</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c1.jpg" alt="">
                                    <!--<h5>abc</h5>
                                    <p>Sales manager</p>-->
                                </a>
                            </div>
                            <div class="col-md-4 profile">
                                <a class="thumbnail" href="#"><img src="img/c2.jpg" alt="">
                                    <!--<h5>xyz</h5>
                                    <p>HR manager</p>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                 <!--Left and right controls -->
                <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>