<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>List Of Schools</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Schools</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">


            <!-- *** LEFT COLUMN ***
			_________________________________________________________ -->

            <div class="col-sm-3">

                <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">City</h3>
                        <!--<a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>-->
                    </div>

                    <div class="panel-body">

                        <form ng-submit="applyFilter()">
                            <div class="form-group">
                                <div class="checkbox" ng-repeat="data in cityFilterData">
                                    <label>
                                        <input type="checkbox" ng-model="filter.city[data.city_id]">{{data.city_name}}
                                    </label>
                                </div>
                            </div>

                            <input type="submit" class="btn btn-default btn-sm btn-template-main" value ="Apply">
                        </form>
                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Type</h3>
                        <!--<a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>-->
                    </div>

                    <div class="panel-body">

                        <form ng-submit="applyFilter()">
                            <div class="form-group">
                                <div class="checkbox" ng-repeat="data in schoolTypeFilterData">
                                    <label>
                                        <input type="checkbox" ng-model="filter.schoolType[data.st_id]">{{data.st_name}}
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-default btn-sm btn-template-main" value ="Apply">
                        </form>

                    </div>
                </div>



            </div>
            <!-- /.col-md-3 -->

            <!-- *** LEFT COLUMN END *** -->

            <!-- *** RIGHT COLUMN ***
			_________________________________________________________ -->

            <div class="col-sm-9">

                <p class="text-muted lead">Here are the list of schools we are associated with.Now you can shop by school and buy whole bunch of books
                    for a particular class</p>

                <div class="row products">

                    <div class="col-md-4 col-sm-6" ng-repeat="school in schoolsData">
                        <div class="product">
                            <div class="image">
                                <a href="" data-toggle="modal" data-target="#school-class-modal">
                                    <img src="img/product1.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="" data-toggle="modal" data-target="#school-class-modal">{{school.school_name}}</a></h3>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                </div>
                 <div class="pages">
                    <p class="loadMore">
                        <button ng-show="loadCount>2" class="btn btn-template-main" ng-click="listPrevSchool(loadCount-2)" style="float:left"><i class="fa fa-chevron-left"></i> Previous</button>
                    </p>
                    <p class="loadMore">
                        <button ng-show="loadCount<schoolsCount" class="btn btn-template-main" ng-click="listNextSchool(loadCount)" style="float:right"><i class="fa fa-chevron-right"></i> Next</button>
                    </p>
                </div>

                <!-- /.products -->


                <div class="pages">

                    <p class="loadMore">
                        <a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
                    </p>

                    <ul class="pagination">
                        <li><a href="#">&laquo;</a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>


            </div>
            <!-- /.col-md-9 -->

            <!-- *** RIGHT COLUMN END *** -->

        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->

<div class="modal fade" id="school-class-modal">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Login">Select Class</h4>
            </div>
            <div class="modal-body">
                <center>
                    <ul class="pagination">
                        <li><a href="/meri-kitab/website/#!/schoolsBook">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
</div>