<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML >
<html>
<style type="text/css">
	body{
		background-image: url("images/login_bg.jpg");
		background-size: cover;
	}
</style>
<body >
	<div id="loader">
    <img src="images/spin.gif" class="ajax-loader"/>
	</div>
	<div class="main-wthree">
	<div class="container">
	<div class="sin-w3-agile">
		<center><h1>Meri Kitaab</h1></center>
		<h2>Admin Panel</h2>
		<form ng-submit="login()">
			<div class="form-group">
				<span class="username">Username:</span>
				<input type="text" name="name" class="name" placeholder="" ng-model="username" required>
				<div class="clearfix"></div>
			</div>
			<div class="form-group">
				<span class="username">Password:</span>
				<input type="password" name="password" class="password" placeholder="" ng-model="password" required>
				<div class="clearfix"></div>
			</div>
			<center>
			<div class="form-group">
					<input type="submit" class="login" value="Sign In">
			</div>
			</center>
		</form>
				
	</div>
	</div>
	</div>
 <!-- //jQuery -->
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <!--Angular JS Files-->
  <!--<script type="text/javascript" src="angular/angular.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script type="text/javascript" src="angular/login.js"></script>-->
  <!-- //jQuery --> 
</body>
</html>